# Compiled output
/dist
/node_modules
.eslintrc.js
.prettierrc
.env

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# VSCode
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/extensions.json
